fastapi==0.115.5
uvicorn==0.32.1
pydantic==2.10.3
pydantic-settings==2.6.1

# LLM
groq==0.13.1
langchain==0.3.13
langchain-groq==0.2.3
langchain-community==0.3.13
langgraph==0.2.60

# MCP
mcp==1.2.0
httpx==0.28.1

sentence-transformers==3.3.1

# Vector store
chromadb==0.5.23
langchain-chroma==0.1.4

# Observability (optional — comment out if no LangSmith key)
langsmith==0.2.3

python-dotenv==1.0.1
slowapi==0.1.9
